* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  background-image: url('https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #212121;
  line-height: 1.5;
}

h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 20px;
}

h2 {
  font-size: 25px;
  line-height: 15px;
  letter-spacing: 5px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 5px;
}

#search-box {
  display: block;
  margin: 0 auto;
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

#search-box:focus {
  border-color: black;
  outline: none;
}

.country-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 15px 0;
}
